.main-panel, .sidebar, .sidebar__menu {
  transition-property: top,bottom,width;
  transition-duration: .2s,.2s,.35s;
  transition-timing-function: linear,linear,ease;
}

.main-panel, .sidebar {
  max-height: 100%;
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  top: 0;
}

.container-scroll {
  padding-right: unset;
  margin-right: unset;
  height: 100%;
  position: relative;
  touch-action: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-open {
  @media screen and (max-width: $bp-tab){
    .main-panel {
      transform: translate3d(-230px,0,0);
      left: 0;
    }

    .sidebar {
      transform: translateZ(0);

      span.icon {
        right: 30px;
      }
    }
  }
}

.sidebar-mini {
  .sidebar {
    @media screen and (min-width: $bp-tab + 1){
      display: block;
      font-weight: 200;
      z-index: 3;
    }
  }

  .main-panel  {
    @media screen and (max-width: $bp-tab){
      transition: all .33s cubic-bezier(.685,.0473,.346,1);
      width: 100%;
    }

    @media screen and (min-width: $bp-tab + 1){
      width: calc(100% - 90px);
    }
  }

  @media (min-width: $bp-tab+ 1) {
    .sidebar, .sidebar__menu, .sidebar__logo {
      width: 90px;
    }

    .sidebar__logo-text, .collapse-button, .sidebar-normal, .nav-text {
      opacity: 0 !important;
      transform: translate3d(-25px,0,0);
    }
  }


}

.sidebar {
  width: 260px;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  overflow: hidden;
  background-color: #20211f;

  .container-scroll {
    overflow-y: hidden;
  }

  span.icon {
    position: absolute;
    top: 5px;
    right: 20px;
    color: white;
    transition: all .15s ease-in;
  }

  &__logo {
    padding: 1rem 0;
    margin: 0;
    // box-shadow: inset -1px 0 0 0 #cfcfca;
    height: 75px;
    position: relative;
    z-index: 4;
    display: block;
    width: 260px;

    .logo-mini {
      float: left;
      width: 30px;
      text-align: center;
      margin-left: 23px;
      margin-right: 15px;
    }

    .simple-text {
      padding: 4px 0;
      display: block;
      font-size: 14px;
      text-align: center;
      font-weight: 600;
      line-height: 34px;
      text-align: left;
      white-space: nowrap;
    }

    &-text {
      transition: all .15s ease-in;
      display: block;
      opacity: 1;
      transform: translateZ(0);
      color: white;
    }

    &-text:hover {
      color: white;
    }

    &-img {
      width: 34px;
      display: inline-block;
      height: 34px;
      margin-left: 0;
      margin-right: 10px;
      background: #fff;
      border-radius: 40px;
      text-align: center;

      img {
        max-width: 34px;
        vertical-align: middle;
        position: relative;
      }
    }
  }

  &__menu {
    position: relative;
    height: calc(100% - 75px);
    z-index: 4;
    box-shadow: inset -1px 0 0 0 #cfcfca;
    width: 260px;
    touch-action: auto;
    // overflow: hidden!important;
  }

  &__user {
    margin-top: 20px;
    padding-bottom: 20px;
    position: relative;

    &-photo {
      width: 34px;
      height: 34px;
      overflow: hidden;
      float: left;
      margin-right: 11px;
      z-index: 5;
      border-radius: 50%;
      margin-left: 23px;
      border: 2px solid rgba(0,0,0,.15);
      border-color: hsla(0,0%,100%,.3);

      img {
        width: 100%;
        vertical-align: middle;
      }
    }

    &-info {
      .collapse-button {
        padding: 7px 25px;
        white-space: nowrap;
        display: block;
        opacity: .7;
        position: relative;
      }

      p {
        opacity: 1;
        line-height: 22px;
        display: block;
        position: relative;
        font-size: 14px;
        color: #fff
      }

      .sidebar-mini {
        text-transform: uppercase;
        float: left;
        width: 30px;
        text-align: center;
        margin-right: 15px;
        letter-spacing: 1px;
        font-size: 14px;
      }

      .sidebar-normal {
        margin: 0;
        position: relative;
        transform: translateZ(0);
        opacity: 1;
        white-space: nowrap;
        display: block;
        font-size: 14px;
      }

      a.nav-dropdown {
        padding: 7px 25px;
        white-space: nowrap;
        display: block;
        opacity: .7;
        margin-top: 0px;
        color: #fff;
      }
    }

  }

  .nav {
    margin-top: 10px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      position: relative;
      display: block;

      a.nav-link {
        margin: 10px 0 0;
        padding-left: 25px;
        padding-right: 25px;
        opacity: .7;
        white-space: nowrap;
        position: relative;
        display: block;
        padding: 10px 15px;
        color: #fff;
      }

      p {
        margin: 0;
        line-height: 30px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        transform: translateZ(0);
        opacity: 1;
        display: block;
        height: auto;
        white-space: nowrap;
      }

      i {
        margin-left: 9px;
        font-size: 30px;
        float: left;
        margin-right: 15px;
        line-height: 30px;
        width: 30px;
        text-align: center;
      }
    }

    li:hover {
      a {
        opacity: 1;
      }
    }

    a.nuxt-link-exact-active.nuxt-link-active {
      color: $primary !important;
    }
  }

  @media screen and (max-width: $bp-tab){
    position: fixed;
    display: block;
    top: 0;
    height: 100%;
    width: 230px;
    right: 0;
    left: auto;
    z-index: 9999;
    visibility: visible;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    transform: translate3d(230px,0,0);
    transition: all .33s cubic-bezier(.685,.0473,.346,1);
  }
}

.sidebar:hover {
  .container-scroll {
    overflow-y: auto;
  }
}

.sidebar__logo::before, .sidebar__user::before {
  background-color: hsla(0,0%,100%,.3);
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  width: calc(100% - 30px);
  height: 1px;
}

.navbar {
  margin-bottom: 0;
  background-color: #f4f3ef;
  border-bottom: 1px solid #cfcfca;
  font-size: 16px;
  transition: all .3s linear;

  @media screen and (min-width: $bp-tab + 1){
    min-height: 75px;
    // -webkit-box-align: stretch;
    // -ms-flex-align: stretch;
    // align-items: center;
    // display: flex;
  }

  .navbar-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
    display: flex;
    height: 75px;
    align-items: stretch;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
  }

  &__minimize {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      border-radius: 25px;
      // margin: 18px 3px;
      padding: 7px 10px;
      color: #fff;
      background-color: #66615b;
      opacity: 1;
      margin-left: 5px;
      margin-right: 5px;
      border-width: 2px;
      border-color: #66615b;
      transition: all .1s ease-in;
    }

    .btn:focus {
      background-color: #66615b;
      border-color: #66615b;
    }

    i {
      display: inline-block;
      min-width: 14px;
      vertical-align: middle;
      line-height: 1;
      font-size: 24px;
    }

    @media (max-width: 768px){
      display: none;
    }
  }

  .navbar-brand {
    @media screen and (max-width: $bp-tab){
      width: 100%;
    }
  }

  .navbar-burger {
    @media screen and (min-width: $bp-tab + 1){
      display: none;
    }
  }

  .navbar-header {
    font-weight: 600;
    padding: 0 15px;
    font-size: 20px;
    color: #777;
  }

  .navbar-right {
    float: right!important;
    display: flex;
    align-items: center;

    @media screen and (max-width: $bp-tab){
      display: none;
    }

    @media screen and (min-width: $bp-tab + 1){
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      -webkit-box-align: stretch;
      -webkit-box-pack: end;
    }
  }

  .nav {
    li {
      a {
        padding: 10px 15px;
        line-height: 1.5;
        color: #9a9a9a;
      }

      .btn-rotate i {
        transition: all .3s cubic-bezier(.34,1.61,.7,1);
      }

      a:hover, a:focus {
        outline: 0;
        color: $primary;
      }

      .btn-rotate:hover {
        i {
          transform: rotate(53deg);
        }
      }
    }
  }
}
