.notification {
  border: 2px solid;
  border-radius: 5px;

  i {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .add-button {
    color: inherit;
    background-color: transparent;
    border-color: inherit;
  }

  .add-button:hover, .add-button:focus {
    color: inherit;
    background-color: transparent;
    border-color: inherit;
  }
}

.notification.error, .status.error {
  background: #fbeaea;
  border-color: #f5d1d1;
  color: #c22929;
}

.notification.success, .status.success {
  background: #93ff93;
  border-color: #6aff6a;
  color: #00a000;
}

.notification.warning, .status.warning {
  background-color: #FCFBE3;
  border-color: #FFF855;
  color: #7c760e;
}

.notification.info, .status.info {
  background: #e0f4fb;
  border-color: #bce7f6;
  color: #147494;
}

.notification.plain, .status.plain {
  background-color: #c7d3dc;
  color: #395260;
}

.status {
  margin-left: 0.5rem;
  padding: 0.35rem 1rem;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-size: 0.85rem;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $primary;
}

.b-radio.radio input[type=radio]:checked + .check {
  border-color: $primary ;
}

.b-radio.radio input[type=radio] + .check:before {
  background-color: $primary;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check {
  border-color: $primary;
}

.b-checkbox.checkbox:hover input[type=checkbox]:not(:disabled) {
  border-color: $primary;
}

.b-checkbox.checkbox input[type=checkbox]:checked + .check{
  background-color: $primary;
  border-color: $primary;
}

.b-checkbox.checkbox:hover input[type=checkbox]:not(:disabled) + .check {
  border-color: #20211f6e;
}

.datepicker {
  i.mdi-chevron-right, i.mdi-chevron-left {
    color: $primary;
  }
}

.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected {
  background-color: $primary;
  color: white;
}

.main-panel {
  background-color: #f4f3ef;
  overflow: auto;
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 260px);
  min-height: 100vh;

  @media screen and (max-width: $bp-tab){
    transform: translateZ(0);
    transition: all .33s cubic-bezier(.685,.0473,.346,1);
    left: 0;
    width: 100%;
  }
}

button:focus {
  outline: 0 !important;
}

.custom-section {
  padding: 1.5rem 1.5rem 3rem 1.5rem;
}

.button {
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border-radius: 40px;
  height: auto;
}

.add-button {
  background-color: $primary;
  color: white;
  border-color: $primary;
}

.plain-button {
  background-color: white;
  color: inherit;
}

.delete-button {
  background-color: $deleteRed;
  border-color: $deleteRed;
  color: white;
}

.add-button:hover, .add-button:focus {
  border-color: darken($primary, 10);
  background-color: darken($primary, 10);
  box-shadow: none;
  outline: none;
  color: white;
}

.plain-button:hover, .plain-button:focus {
  border-color: $primary;
  box-shadow: none;
  outline: none;
  color: $primary;
}

.delete-button:hover, .delete-button:focus {
  color: white;
  background-color: darken($deleteRed, 15);
  border-color: darken($deleteRed, 15);
  outline: none;
  box-shadow: none;
}

.invert-button {
  color: #66615b;
  border-color: lighten($primary, 30);
  background-color: lighten($primary, 30);

  @media screen and (max-width: $bp-tab - 1){
    span {
      display: none;
    }
  }
}

.cancel-button:hover, .cancel-button:focus {
  background-color: $deleteRed;
  color: white;
  border-color: $deleteRed;
}

.invert-button:hover, .invert-button:focus {
  box-shadow: none;
  outline: none;
  color: white;
  border-color: lighten($primary, 10);
  background-color: lighten($primary, 10);
}


.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background-color: #f3f2ee;
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover, .table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even) {
  background-color: lighten($primary, 35);
}

.pagination-link.is-current {
  background-color: transparent;
  border-color: $primary;
  border: 1px solid;
  color: $primary;
}

.pagination-link.pagination-next {
  color: white;
}

.pagination-link {
  border-color: $primary;
  background-color: $primary;
  color: white;
  font-size: .76rem
}

.pagination-link:hover {
  // color: white;
  border: none;
}

.pagination-link:focus {
  outline: none;
  border: none
}

.invoice-template {
  display: flex;

  @media screen and (max-width: 450px){
    flex-direction: column;
    // align-items: center;
  }

  li {
    width: 135px;
    height: auto;
    padding: 4px 4px 8px;
    margin-right: 8px;
    list-style-type: none;
    background-color: rgba(32, 33, 31, 0.8);
    color: white;
    border-radius: 4px;
    font-size: 14px;

    .background {
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        background-color: rgba(32, 33, 31, 0.8);
        padding: 0.5rem 1rem;
        border-radius: 50%;
        font-size: 32px;
        display: none;
        color: white;
      }
    }

    .background:hover {
      i {
        display: block;
      }
    }

    .b-radio:hover {
      color: white;
    }

    @media screen and (max-width: 450px){
      text-align: center;
      width: 200px;
      margin-bottom: 1rem;

      .background {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.b-table {
  color: #606266;
  font-size: 16px;

  i {
    font-size: 18px;
  }

  @media screen and (max-width: 450px){
    font-size: 12px;

    i {
      font-size: 14px;
    }

    i.mdi.mdi-arrow-down-drop-circle {
      font-size: 18px;
    }

    a.action-button {
      vertical-align: middle;
    }
  }
}

.table {
  td {
    padding: 12px 0.75em;

    i.mdi-delete-forever:hover {
      color: red;
    }

    i.mdi-arrow-down-drop-circle:hover {
      color: $primary;
    }

    .table-action {
      // .dropdown {
      //   .has-link {
      //     a {
      //       color: inherit;
      //     }
      //   }
      // }
      @media screen  and (max-width: $bp-tab - 1){
        display: flex;
        justify-content: space-evenly;
      }
    }

    .action-button {
      position: relative;
      overflow: visible;
      margin: 0 4px;
      color: #1c252c;
    }

    .action-button:hover {
      .tool-tip {
        margin-bottom: 13px;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}


.page {
  a.dropdown-item {
    padding-bottom: 1rem;
  }

  .user {
    &__roles {
      ul {
        margin-top: 1rem;
        font-size: 12px;

        li {
          border-bottom: 1px solid #d4dde3;
          padding: 0.35rem 0;
          display: flex;
          justify-content: space-between;
        }

        li:first-child {
          border-top: 1px solid #d4dde3;
        }
      }

      @media screen and (min-width: $bp-tab){
        border-left: 1px solid #d4dde3;
      }
    }
  }


  &-top__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;

    @media screen and (max-width: 450px) {
      justify-content: space-between;
    }
  }

  &__section {
    position: relative;
  }

  &__heading {
    color: #1c252c;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__subheading {
    color: #1c252c;
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  label.label {
    color: inherit;
    font-weight: 500;
  }

  &__form {
    i.mdi.mdi-eye {
      color: #66615b;;
    }
  }

  &__divider {
    display: block;
    height: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #d4dde3;
    overflow: hidden;
    margin: 24px auto;
  }

  &__button {
    margin: auto;
    margin-top: 1rem;

    @media screen and (min-width: $bp-tab + 1){
      width: 62%;
    }

    button {
      font-size: 1rem;
    }
  }

  .update {
    color: inherit;
    margin-left: 1rem;
  }

  .update:hover {
    color: $primary;
  }

  .drop-title {
    font-size: 16px;

    @media screen  and (max-width: $bp-tab - 1){
      font-size: 12px;
    }
  }

  .drop-subtitle {
    @media screen  and (max-width: $bp-tab - 1){
      display: none;
    }
  }
}
